*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(
  to right,
  #667eea 0%,
  #764ba2 50%,
  #ff758c 100%
);
}    

.container{
    width: 800px;
    height: 400px;
    border: none;
    margin-left: 400px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    background-color:antiquewhite;
}

.container h1{
    border-bottom: none;
    padding: 20px;
    text-align: center;
    background-color: burlywood;
    color: aliceblue;
    border-radius: 10px;
}

.container h2{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
}

.btn-1,
.btn-2,
.btn-3 {
    padding: 10px;
    font-size: large;
    font-weight: 600;
    color: aliceblue;
    border-radius: 8px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

.btn-3{
    width: 150px;
    position: relative;
    left: 220px;
    background-color: #64748b;
}

.btn-2{
    width: 150px;
    position: relative;
    left: 200px;
    background-color: #dc2626;
}

.btn-1{
    width: 150px;
    position: relative;
    left: 180px;
    background-color: #16a34a;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover{
    transform: scale(1.05);
}

.warning{
    text-align: center;
    position: relative;
    top: 20px;
    font-size: large;
    color: #dc2626;
    font-weight: bold;
}

@media screen and (max-width:786px) {
    .container{
        width: 90%;
        margin: 50px auto;
        padding: px;
    }

    .btn-1,
    .btn-2,
    .btn-3{
        width: 120px;
    }

    .btn-1{
        position: relative;
        left: 50px;
    }

    .btn-2{
        position: relative;
        left: 70px;
    }

    .btn-3{
        position: relative;
        left: 90px;
    }
}